@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<input type="text" id="txtName" />

<input type="button" value="GetData" id="getData" />

<div id="response"></div>



@section scripts{
    <script src="~/Scripts/CustomAjax.js"></script>
}

